/* место для вашего кода */
.header {
  box-sizing: border-box;
  background-color: burlywood;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.footer {
  height: 200px;
  background-color: mediumpurple;
}

.aligned-text {
  display: block;
  font-size: 100px;
  font-weight: 800;
  letter-spacing: .3em;
  text-transform: uppercase;
}

.letter-spacing-extended {
  letter-spacing: .6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}